<div>
  <div class="d-flex">
    <button type="button" class="btn btn-secondary" on:click="toggleQueryEditor()">
      {#if _showQueryEditor}Hide{:else}Show{/if} Query Editor
    </button>
    <label class="mx-2 mb-0">
      Aggreg.
      <select class="form-control d-inline w-auto ml-2" bind:value="aggregateFunction" on:change="set({chartFunction: _aggregateFunctions[aggregateFunction].defaultChartFunction})">
        {#each _aggregateFunctionsKeys as key}
          <option value="{key}">
            {_aggregateFunctions[key].name}
          </option>
        {/each}
      </select>
    </label>
    <label class="mx-2 mb-0">
      Chart
      <select class="form-control d-inline w-auto ml-2" bind:value="chartFunction">
        {#each _chartFunctionsKeys as key}
          <option value="{key}">
            {_chartFunctions[key].name}
          </option>
        {/each}
      </select>
    </label>
    <label class="mx-2 mb-0">
      Sort
      <select class="form-control d-inline w-auto ml-2" bind:value="sort">
        {#each _aggregateFunctions[aggregateFunction].sorting as sortOption}
          <option value="{sortOption}">
            {sortOption.charAt(0).toUpperCase() + sortOption.substr(1)}
          </option>
        {/each}
      </select>
    </label>
    <div class="display-inline-block ml-auto">
      Height
      <button type="button" class="btn btn-secondary" on:click="set({chartHeight: chartHeight+40})">+</button>
      <button type="button" class="btn btn-secondary" on:click="set({chartHeight: chartHeight-40})">-</button>
      <button type="button" class="btn btn-primary" on:click="runQuery()">Run</button>
    </div>
  </div>
  <div class="mb-3 {_showQueryEditor ? '' : 'd-none'}">
    <QueryEditor
        bind:options
        bind:selectors
        bind:supportedClasses
        classCheckbox="mr-1"
        classInput="form-control form-control-sm d-inline w-auto"
        classSelect="form-control form-control-sm d-inline w-auto"
        classAddButton="btn btn-sm btn-primary mx-1"
        classRemoveButton="btn btn-sm btn-danger mx-1"
        classButton="btn btn-sm btn-secondary mx-1"></QueryEditor>
  </div>
  <hr />
  <div style="position: relative;">
    <div class="loader {_loading ? '' : 'd-none'}"></div>
    <div class="chart-container" ref:canvascontainer style="position: relative; height: {chartHeight}px; width: 100%">
      <div class="{(_currentChart && _currentChart.raw) ? 'card' : 'hidden'}">
        <div class="card-header" ref:titleraw></div>
        <div class="card-body">
          <pre class="raw-elem" ref:chartraw></pre>
        </div>
      </div>
      <div class="{(_currentChart && _currentChart.svg) ? 'chart-svg' : 'hidden'}">
        <h5 ref:titlesvg class="text-center"></h5>
        <div ref:chartsvg></div>
      </div>
      <canvas class="{(_currentChart && _currentChart.chart) ? 'chart-canvas' : 'hidden'}" ref:chartcanvas></canvas>
    </div>
  </div>
</div>

<script>
  import QueryEditor from 'nymph-query-editor';
  import {Nymph} from 'nymph-client';

  const chartColors = {
    red: 'rgb(229,57,53)',
    indigo: 'rgb(57,73,171)',
    teal: 'rgb(0,137,123)',
    yellow: 'rgb(253,216,53)',
    pink: 'rgb(216,27,96)',
    blue: 'rgb(30,136,229)',
    green: 'rgb(67,160,71)',
    amber: 'rgb(255,179,0)',
    purple: 'rgb(142,36,170)',
    lightBlue: 'rgb(3,155,229)',
    lightGreen: 'rgb(124,179,66)',
    orange: 'rgb(251,140,0)',
    deepPurple: 'rgb(94,53,177)',
    cyan: 'rgb(0,172,193)',
    lime: 'rgb(192,202,51)',
    deepOrange: 'rgb(244,81,30)',
    brown: 'rgb(109,76,65)',
    grey: 'rgb(117,117,117)',
    blueGrey: 'rgb(84,110,122)'
  };

  ///////////////////////////////////////
  //  Charting Functions
  ///////////////////////////////////////

  const chartJsTimeSeries = function(graphType, area, stepped) {
    return function (app, label, axisLabel, data, elems, eventHandlers) {
      const timeFormat = 'YYYY-MM-DD HH:mm:ss';

      const color = Chart.helpers.color;
      const config = {
        type: graphType,
        data: {
          labels: [],
          datasets: [{
            label: axisLabel,
            backgroundColor: color(chartColors.indigo).alpha(0.5).rgbString(),
            borderColor: chartColors.indigo,
            fill: !!area,
            steppedLine: !!stepped,
            lineTension: 0,
            // cubicInterpolationMode: 'monotone',
            data: data.map((v) => ({x: v.label, y: v.value}))
          }]
        },
        options: {
          title:{
            display: true,
            text: label
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                format: timeFormat,
                // round: 'day'
                tooltipFormat: 'll HH:mm'
              },
              scaleLabel: {
                display: true,
                labelString: 'Date / Time'
              }
            }, ],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: axisLabel
              }
            }]
          },
          onClick: function(ev, elements) {
            if (
                elements[0] !== undefined &&
                elements[0]._model !== undefined &&
                elements[0]._model.label !== undefined &&
                eventHandlers !== undefined &&
                eventHandlers.hasOwnProperty(elements[0]._model.label)
              ) {
              eventHandlers[elements[0]._model.label](app);
            }
          }
        }
      };

      const ctx = elems.canvas.getContext('2d');
      return {context: ctx, chart: new Chart(ctx, config)};
    };
  };

  const c3TimeSeries = function(graphType, area, stepped) {
    return function (app, label, axisLabel, data, elems, eventHandlers) {
      const config = {
        bindto: elems.svg,
        data: {
          x: 'x',
          xFormat: '%Y-%m-%d %H:%M:%S',
          type: graphType === 'line' ? (area ? (stepped ? 'area-step' : 'area') : (stepped ? 'step' : 'line')) : graphType,
          columns: [
            ['x', ...data.map((v) => v.label)],
            [axisLabel, ...data.map((v) => v.value)]
          ]
        },
        line: {
          step: {
            type: 'step-after'
          },
        },
        axis: {
          x: {
            type: 'timeseries',
            localtime: true,
            tick: {
              fit: true,
              format: '%e %b %y %H:%M:%S',
              rotate: -60,
              multiline: false
            },
            height: 100
          }
        },
        size: {
          height: app.get().chartHeight
        },
        zoom: {
          enabled: true
        },
        subchart: {
          show: true
        }
      };

      elems.titlesvg.innerText = label;

      return {svg: c3.generate(config)};
    };
  };

  const c3CategoryChart = function(graphType, rotated) {
    return function (app, label, axisLabel, data, elems, eventHandlers) {
      const config = {
        bindto: elems.svg,
        data: {
          type: graphType,
          json: data.map(v => {v[axisLabel] = v.value; return v;}),
          keys: {
            x: 'label',
            value: [axisLabel]
          },
          onclick: function(d, element) {
            if (
                d.name !== undefined &&
                eventHandlers !== undefined &&
                eventHandlers.hasOwnProperty(d.name)
              ) {
              eventHandlers[d.name](app);
            }
          }
        },
        axis: {
          x: {
            type: 'category'
          },
          rotated: rotated
        },
        size: {
          height: app.get().chartHeight
        },
        zoom: {
          enabled: true
        }
      };

      elems.titlesvg.innerText = label + ' (' + data.length + ' total)';

      return {svg: c3.generate(config)};
    };
  };

  const c3Chart = function(graphType, rotated) {
    return function (app, label, axisLabel, data, elems, eventHandlers) {
      const config = {
        bindto: elems.svg,
        data: {
          type: graphType,
          columns: data.map((v) => [v.label, v.value]),
          onclick: function(d, element) {
            if (
                d.name !== undefined &&
                eventHandlers !== undefined &&
                eventHandlers.hasOwnProperty(d.name)
              ) {
              eventHandlers[d.name](app);
            }
          }
        },
        bar: {
          width: {
            ratio: 1
          }
        },
        axis: {
          y: {
            label: {
              text: axisLabel,
              position: 'outer-middle'
            }
          },
          rotated: rotated
        },
        size: {
          height: app.get().chartHeight
        },
        zoom: {
          enabled: true
        }
      };

      elems.titlesvg.innerText = label + ' (' + data.length + ' total)';

      return {svg: c3.generate(config)};
    };
  };

  const chartFunctions = {
    timeSeriesSteppedArea: {
      name: 'Time Series Stepped Area, Chart.js',
      func: chartJsTimeSeries('line', true, true)
    },

    timeSeriesSteppedAreaC3: {
      name: 'Time Series Stepped Area, C3.js',
      func: c3TimeSeries('line', true, true)
    },

    timeSeriesStepped: {
      name: 'Time Series Stepped, Chart.js',
      func: chartJsTimeSeries('line', false, true)
    },

    timeSeriesSteppedC3: {
      name: 'Time Series Stepped, C3.js',
      func: c3TimeSeries('line', false, true)
    },

    timeSeriesLine: {
      name: 'Time Series Line, Chart.js',
      func: chartJsTimeSeries('line')
    },

    timeSeriesLineC3: {
      name: 'Time Series Line, C3.js',
      func: c3TimeSeries('line')
    },

    timeSeriesArea: {
      name: 'Time Series Area, Chart.js',
      func: chartJsTimeSeries('line', true)
    },

    timeSeriesAreaC3: {
      name: 'Time Series Area, C3.js',
      func: c3TimeSeries('line', true)
    },

    timeSeriesBar: {
      name: 'Time Series Bar, Chart.js',
      func: chartJsTimeSeries('bar')
    },

    timeSeriesBarC3: {
      name: 'Time Series Bar, C3.js',
      func: c3TimeSeries('bar')
    },

    bar: {
      name: 'Bar Chart, Chart.js',
      func: function (app, label, axisLabel, data, elems, eventHandlers) {
        const color = Chart.helpers.color;
        const config = {
          type: 'bar',
          data: {
            labels: data.map((v) => v.label),
            datasets: [{
              label: axisLabel,
              backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
              borderColor: chartColors.blueGrey,
              borderWidth: 1,
              data: data.map((v) => v.value)
            }]
          },
          options: {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each horizontal bar to be 2px wide
            elements: {
              rectangle: {
                borderWidth: 2,
              }
            },
            responsive: true,
            maintainAspectRatio: false,
            legend: {
              display: false,
            },
            title: {
              display: true,
              text: label + ' (' + data.length + ' total)'
            },
            onClick: function(ev, elements) {
              if (
                  elements[0] !== undefined &&
                  elements[0]._model !== undefined &&
                  elements[0]._model.label !== undefined &&
                  eventHandlers !== undefined &&
                  eventHandlers.hasOwnProperty(elements[0]._model.label)
                ) {
                eventHandlers[elements[0]._model.label](app);
              }
            }
          }
        };

        const ctx = elems.canvas.getContext('2d');
        return {context: ctx, chart: new Chart(ctx, config)};
      }
    },

    categoryBarC3: {
      name: 'Bar Chart - Category, C3.js',
      func: c3CategoryChart('bar')
    },

    barC3: {
      name: 'Bar Chart, C3.js',
      func: c3Chart('bar')
    },

    horizontalBar: {
      name: 'Horizontal Bar Chart, Chart.js',
      func: function (app, label, axisLabel, data, elems, eventHandlers) {
        const color = Chart.helpers.color;
        const config = {
          type: 'horizontalBar',
          data: {
            labels: data.map((v) => v.label),
            datasets: [{
              label: axisLabel,
              backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
              borderColor: chartColors.blueGrey,
              borderWidth: 1,
              data: data.map((v) => v.value)
            }]
          },
          options: {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each horizontal bar to be 2px wide
            elements: {
              rectangle: {
                borderWidth: 2,
              }
            },
            responsive: true,
            maintainAspectRatio: false,
            legend: {
              display: false,
            },
            title: {
              display: true,
              text: label + ' (' + data.length + ' total)'
            },
            onClick: function(ev, elements) {
              if (
                  elements[0] !== undefined &&
                  elements[0]._model !== undefined &&
                  elements[0]._model.label !== undefined &&
                  eventHandlers !== undefined &&
                  eventHandlers.hasOwnProperty(elements[0]._model.label)
                ) {
                eventHandlers[elements[0]._model.label](app);
              }
            }
          }
        };

        const ctx = elems.canvas.getContext('2d');
        return {context: ctx, chart: new Chart(ctx, config)};
      }
    },

    categoryHorizontalBarC3: {
      name: 'Horizontal Bar Chart - Category, C3.js',
      func: c3CategoryChart('bar', true)
    },

    horizontalBarC3: {
      name: 'Horizontal Bar Chart, C3.js',
      func: c3Chart('bar', true)
    },

    pie: {
      name: 'Pie Chart, Chart.js',
      func: function (app, label, axisLabel, data, elems, eventHandlers) {
        const color = Chart.helpers.color;
        const chartColorsKeys = Object.keys(chartColors);
        const config = {
          type: 'pie',
          data: {
            labels: data.map((v) => v.label),
            datasets: [{
              label: axisLabel,
              backgroundColor: data.map((v, i) => color(chartColors[chartColorsKeys[i % chartColorsKeys.length]]).alpha(0.5).rgbString()),
              data: data.map((v) => v.value)
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
              display: true,
              text: label + ' (' + data.length + ' total)'
            },
            onClick: function(ev, elements) {
              if (
                  elements[0] !== undefined &&
                  elements[0]._index !== undefined &&
                  data[elements[0]._index] !== undefined &&
                  eventHandlers !== undefined &&
                  eventHandlers.hasOwnProperty(data[elements[0]._index].label)
                ) {
                eventHandlers[data[elements[0]._index].label](app);
              }
            }
          }
        };

        const ctx = elems.canvas.getContext('2d');
        return {context: ctx, chart: new Chart(ctx, config)};
      }
    },

    pieC3: {
      name: 'Pie Chart, C3.js',
      func: c3Chart('pie')
    },

    rawDataColonSeparated: {
      name: 'Raw Data (No Chart), Colon Separated',
      func: function (app, label, axisLabel, data, elems, eventHandlers) {
        const sanitizer = document.createElement('span');
        const sanitizeText = (text) => {
          sanitizer.innerText = text;
          return sanitizer.innerHTML;
        };
        elems.titleraw.innerText = label + ' (' + data.length + ' total)';
        elems.raw.innerHTML = data.map((v) => '<var>'+sanitizeText(v.label)+'</var>: '+sanitizeText(v.value)).join('\n');
        return {raw: elems.raw};
      }
    },

    rawDataColumns: {
      name: 'Raw Data (No Chart), Columns',
      func: function (app, label, axisLabel, data, elems, eventHandlers) {
        const sanitizer = document.createElement('span');
        const sanitizeText = (text) => {
          sanitizer.innerText = text;
          return sanitizer.innerHTML;
        };
        const maxWidth = data.reduce((currentMaxWidth, currentElem) => currentElem.label.length > currentMaxWidth ? currentElem.label.length : currentMaxWidth, 0);
        elems.titleraw.innerText = label + ' (' + data.length + ' total)';
        elems.raw.innerHTML = data.map((v) => sanitizeText(v.label)+(Array(maxWidth - v.label.length + 1).join(' '))+' '+sanitizeText(v.value)).join('\n');
        return {raw: elems.raw};
      }
    },

    rawDataEntries: {
      name: 'Raw Data (No Chart), Entries Only',
      func: function (app, label, axisLabel, data, elems, eventHandlers) {
        const sanitizer = document.createElement('span');
        const sanitizeText = (text) => {
          sanitizer.innerText = text;
          return sanitizer.innerHTML;
        };
        elems.titleraw.innerText = label + ' (' + data.length + ' total)';
        elems.raw.innerHTML = data.map((v) => sanitizeText(v.label)).join('\n');
        return {raw: elems.raw};
      }
    }
  };

  const originalHash = window.location.hash.replace(/^#/, '');
  let currentHash = originalHash;

  export default {
    oncreate () {
      const updateFromHash = (hash) => {
        try {
          const state = JSON.parse(hash);
          this.set({selectors: []});
          this.set(state);
        } catch (e) {
          // ignore errors here.
        }
      };
      updateFromHash(originalHash);
      setInterval(() => {
        // Compare the current hash with the window's hash. If the window's
        // hash has been updated, update our state.
        const windowHash = window.location.hash.replace(/^#/, '');
        if (windowHash !== currentHash) {
          currentHash = windowHash;
          updateFromHash(currentHash);
        }
      }, 5);
    },

    onstate ({changed, current}) {
      if (changed.options) {
        const {_aggregateFunctions, aggregateFunction} = current;
        if (!_aggregateFunctions.hasOwnProperty(aggregateFunction)) {
          const {_aggregateFunctionsKeys} = current;
          this.set({aggregateFunction: _aggregateFunctionsKeys[0]});
        }
      }

      if (changed.aggregateFunction) {
        const {sort} = current;
        const aggregate = current._aggregateFunctions[current.aggregateFunction];
        if (aggregate.sorting.indexOf(sort) === -1) {
          this.set({sort: aggregate.sorting[0]});
        }
      }
    },

    data () {
      return {
        _showQueryEditor: false,
        _loading: false,
        _currentChart: null,
        _chartFunctions: chartFunctions,
        _chartFunctionsKeys: Object.keys(chartFunctions),
        supportedClasses: [],
        chartHeight: 700,
        aggregateFunction: 'rawLogLine',
        chartFunction: 'rawDataEntries',
        sort: 'unchanged',
        options: {},
        selectors: []
      }
    },

    computed: {
      _aggregateFunctions: ({ options }) => Nymph.getEntityClass(options.class).aggregateFunctions,
      _aggregateFunctionsKeys: ({ options }) => Object.keys(Nymph.getEntityClass(options.class).aggregateFunctions),
      query: ({ options, selectors }) => [options, ...selectors],
      urlHashUpdate: ({ aggregateFunction, chartFunction, options, selectors, sort, chartHeight }) => {
        currentHash = JSON.stringify({aggregateFunction, chartFunction, options, selectors, sort, chartHeight});
        window.location.hash = currentHash;
        return null;
      }
    },

    methods: {
      runQuery () {
        const {_currentChart, aggregateFunction, chartFunction} = this.get();

        if (_currentChart && _currentChart.chart) {
          _currentChart.chart.destroy();
        }
        if (_currentChart && _currentChart.context) {
          _currentChart.context.clearRect(0, 0, this.refs.chartcanvas.width, this.refs.chartcanvas.height);
        }
        if (_currentChart && _currentChart.raw) {
          _currentChart.raw.innerHTML = '';
        }

        this.set({
          _currentChart: null,
          _loading: true
        });
        const {query} = this.get();
        Nymph.getEntities(...query).then((entries) => {
          const aggFuncObj = this.get()._aggregateFunctions[aggregateFunction];
          const {sort} = this.get();
          const chartFuncObj = chartFunctions[chartFunction];
          // Run the aggregator:
          const aggResults = aggFuncObj.func(entries, sort);
          const data = aggResults.data;
          const eventHandlers = aggResults.eventHandlers;

          // Create the chart:
          this.set({
            _currentChart: chartFuncObj.func(this, aggFuncObj.name, aggFuncObj.axisLabel, data, {
              canvas: this.refs.chartcanvas,
              titlesvg: this.refs.titlesvg,
              svg: this.refs.chartsvg,
              titleraw: this.refs.titleraw,
              raw: this.refs.chartraw
            }, eventHandlers),
            _loading: false
          });
        }, (err) => {
          alert('Error: '+err);
        });
      },

      toggleQueryEditor () {
        this.set({_showQueryEditor: !this.get()._showQueryEditor});
      }
    },

    components: {
      QueryEditor
    }
  };
</script>

<style>
  .w-auto {
    width: auto;
  }

  .query-editor h2 {
    border-bottom: 1px solid #000;
    padding-bottom: .5em;
    margin-bottom: .5em;
  }

  .chart-container > .hidden {
    display: none;
  }
  .chart-canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0,0,0, 0.2);
    border-right: 1.1em solid rgba(0,0,0, 0.2);
    border-bottom: 1.1em solid rgba(0,0,0, 0.2);
    border-left: 1.1em solid #000000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
</style>
